---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';
import classnames from 'classnames';

interface Props {
  idx: number;
  title: string;
  description: string;
  img: {
    path: string;
    alt: string;
  };
  styles?: string | string[];
  onDark?: boolean;
}

const { idx, title, description, img, styles, onDark } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
  '/src/assets/images/values/*.png'
);
---

<section
  class={classnames(
    'col-span-6 rounded-2xl p-7 max-md:max-w-[470px] mx-auto xl:p-12 xl:pb-0 pb-0 flex flex-col gap-7 overflow-hidden lg:h-fit md:col-span-6 lg:col-span-4',
    styles,
    {
      'text-[#ffff]': onDark,
      'text-[#3C3843]': !onDark,
    }
  )}
>
  <span class='font-medium text-[28px] leading-8'>{`{${idx}}`}</span>
  <h3 class='font-medium text-[28px] leading-8'>{title}</h3>
  <p class='text-base leading-7'>{description}</p>
  {
    images[img.path] && (
      <Image class='mt-auto' src={images[img.path]()} alt={img.alt} />
    )
  }
</section>
