---
import Base from "../layouts/base.astro";
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";

const markdownPosts = await getCollection("posts");

const pages = (await Astro.glob("../pages/**/*.astro")).filter(
  (page) => !page.url?.includes("[") && !page.url?.includes("index.astro"),
);

const prefix = import.meta.env.DEV ? "/" : "/blog";

const posts = [
  ...markdownPosts.map((post) => ({
    url: `${prefix}${prefix === "/" ? "" : "/"}${post.slug}`,
    title: post.data.title,
    date: new Date(post.data.date),
    image: post.data.image,
  })),
  ...pages.map((page) => ({
    url: `${prefix === "/" ? "" : prefix}${page.url}`,
    title: (page as any).data.title,
    date: new Date((page as any).data.date),
    image: (page as any).data.image,
  })),
];
posts.sort((a, b) => b.date.getTime() - a.date.getTime());
---

<Base>
  <ol>
    {
      posts.map(({ url, title, image }) => (
        <li>
          <a href={url}>
            {image && (
              <Picture
                src={image}
                width={320}
                alt={title}
                loading="lazy"
                decoding="auto"
              />
            )}
            {title}
          </a>
        </li>
      ))
    }
  </ol>
</Base>
