---
import Base from "../layouts/base.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("posts");

const pages = await Astro.glob("../pages/**/*.astro");

const prefix = import.meta.env.DEV ? "/" : "/blog";

const urls = [
  ...posts.map((post) => `${prefix}${prefix === "/" ? "" : "/"}${post.slug}`),
  ...pages
    .filter(
      (page) => !page.url?.includes("[") && !page.url?.includes("index.astro"),
    )
    .map((page) => `${prefix === "/" ? "" : prefix}${page.url}`),
];
---

<Base>
  <ol>
  {
    urls.map((url) => (
<li>
      <a
        href={url}
      >
        {url}
      </a>
    </li>
    ))
  }
</Base>
