---
import { Picture } from "astro:assets";
import { getCollection } from "astro:content";
import classnames from "classnames";
import hero from "../../assets/mobile-staff-hero.svg";
import heroWide from "../../assets/wide-staff-hero.svg";
import Pill from "../../components/Pill.astro";
import Section from "../../components/Section.astro";
import { grid_classes } from "../../components/_grid";
import StaffMember from "../../components/staff-agmentation/StaffMember.astro";
import "../../styles/main.css";
import Calendar from "../icons/Calendar.astro";

const staff = (await getCollection("staff_members")) as {
  data: { name: string; image: string; role: string };
}[];

const contentVariantID = String(
  Astro.url.searchParams.get("id") || "backfill-your-developer-gap"
);

const staffContent = (await getCollection("staff_augmentation")) as {
  data: {
    id: string;
    hero: {
      pillText: string;
      title_1: string;
      title_2: string;
      description: string;
    };
  };
}[];

let content = staffContent.find((v) => v.data.id === contentVariantID);

if (!content) {
  content = staffContent[0];
}
---

<Section
  className="!p-0"
  contentClassName="relative before:absolute before:z-[-1] before:top-0 before:w-full before:h-full before:bg-[#4E5BC8] md:max-w-screen"
>
  <div
    class={classnames(
      "mx-auto xl:px-0 bg-[#FFF1E1] rounded-b-4xl md:rounded-b-[96px] relative overflow-hidden"
    )}
  >
    <Picture
      src={hero}
      alt=""
      class="xl:min-w-[1400px] h-full absolute top-0 left-1/2 -translate-x-1/2 z-[1] bg-[#FFF1E1] min-[1600px]:hidden"
    />
    <Picture
      src={heroWide}
      alt=""
      class="h-full absolute top-0 left-0 z-[1] bg-[#FFF1E1] hidden min-[1600px]:block"
    />
    <div
      class={`${grid_classes} md:max-w-[var(--max-width)] px-4 md:px-7 !pt-[75px] md:mx-auto relative z-[2]`}
    >
      <div
        class="row-start-1
          col-start-1
          col-span-6
          md:col-span-10
          lg:col-span-5
          lg:col-start-2
          grid
          gap-3 md:gap-7
          text-secondary
           pt-7 pb-14 md:pb-24 self-start"
      >
        <div class="flex flex-col gap-4 md:gap-4 max-h-fit">
          <Pill
            className="text-[10px] min-[340px]:text-xs min-[390px]:text-sm sm:text-base md:text-lg px-2 py-1 min-[390px]:px-3 min-[390px]:py-1.5 sm:px-4 sm:py-2 max-h-[36px]"
            >{content.data.hero.pillText}</Pill
          >
          <h1
            class="text-[32px] w-[300px] min-sm:w-auto mt-2 leading-none min-[390px]:leading-[28px] sm:leading-[36px] md:text-[54px] md:leading-[59.4px] font-medium tracking-tight"
          >
            <span class="fadeInUp block" style="animation-delay: 100ms;">
              {content.data.hero.title_1}
            </span>
            <span
              class="fadeInUp block"
              style="animation-delay: 500ms;animation-fill-mode: backwards;"
            >
              {content.data.hero.title_2}
            </span>
          </h1>
          <p
            class="font-normal text-base leading-5 min-[390px]:leading-6 sm:text-lg sm:leading-7 md:text-[22px] md:leading-8 tracking-normal"
          >
            <span
              class="fadeInUp"
              style="animation-delay: 900ms;animation-fill-mode: backwards;"
            >
              {content.data.hero.description}
            </span>
          </p>
        </div>
        <div class="flex flex-wrap gap-2.5">
          <a
            id="book-a-call-action-hero"
            href="#get-your-plan-section"
            class="inline-block bg-crocoder-yellow rounded-md px-[25px] py-4 text-center text-contrast text-base font-medium hover:opacity-90 uppercase w-fit max-h-14"
          >
            Let's talk
          </a>
          <a
            id="book-a-call-action-hero"
            href="#book-a-call-section"
            class="inline-flex gap-2.5 items-center bg-[#545664] rounded-md px-[25px] py-4 text-center text-white text-base font-medium hover:opacity-90 uppercase w-fit max-h-14"
          >
            <Calendar />
            Book a call
          </a>
        </div>
      </div>
      <div
        class="hidden
          lg:flex
          lg:flex-col
          row-start-2
          col-start-1
          col-span-6
          lg:col-span-6
          lg:col-start-7
          lg:row-start-1"
      >
        {
          staff.map((s, i) => (
            <StaffMember
              name={s.data.name}
              role={s.data.role}
              imagePath={s.data.image}
              idx={i}
            />
          ))
        }
      </div>
    </div>
  </div>
</Section>
