---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import crocoIcon from "../../assets/croco_in_cloud.png";
import idealForIllustration from "../../assets/pic_phase_3.png";
import staffCollaborationImg from "../../assets/staff_collaboration.png";
import Pill from "../../components/Pill.astro";
import Section from "../../components/Section.astro";
import { grid_classes } from "../_grid";
import CircleCheck from "../icons/CircleCheck.astro";

export type MainContent = {
  pillText: string;
  title_1: string;
  title_2: string;
  fitChecks: {
    highlight: string;
    text: string;
  }[];
  aboutUs: string[];
  ourEngineers: { title: string; description: string }[];
};

const staffContent = (await getCollection("staff_augmentation")) as {
  data: {
    id: string;
    main: MainContent;
  };
}[];

const contentVariantId = String(
  Astro.url.searchParams.get("id") || "backfill-your-developer-gap"
);

let content = staffContent.find((c) => c.data.id === contentVariantId);

if (!content) {
  content = staffContent[0];
}

const { data } = content;
---

<Section
  className="!p-0 bg-[#4E5BC8]"
  contentClassName="relative before:absolute before:z-[-1] before:top-0 before:w-full before:h-full bg-contrast rounded-t-4xl md:rounded-t-[96px] md:max-w-screen overflow-hidden pb-12 lg:pb-24"
>
  <div
    class={`${grid_classes} md:max-w-[var(--max-width)] md:mx-auto relative z-[2]`}
  >
    <div
      class="relative
      col-span-6
      md:col-span-12
      lg:col-span-6
      overflow-hidden
      h-[calc(120vw+100px)]
      max-h-[700px]
      md:h-[70vw]
      lg:max-h-[870px]
      xl:overflow-visible"
    >
      <div
        class="aspect-square
          relative
          rounded-full
          overflow-hidden
          w-[120%]
          max-w-[630px]
          -left-1/4
          -top-1/12
          md:w-[70%]
          md:-left-18
          lg:w-[120%]
          lg:-left-1/5
          lg:max-w-[800px]"
      >
        <Image
          src={staffCollaborationImg}
          alt="Two male developers in CroCoder hoodies collaborating"
          class="absolute top-1/12 left-1/6 md:left-0"
        />
      </div>
      <Image
        src={crocoIcon}
        alt="Illustration of a crocodile in a cloud with laptop"
        class="absolute bottom-0 left-4 lg:left-7 w-[300px]"
      />
    </div>
    <div
      class="col-span-6 md:col-span-12 py-12 lg:py-24 px-4 md:px-7 lg:col-span-6"
    >
      <div class="flex flex-col gap-4">
        <Pill>We're 100% Focused on results</Pill>
        <h2
          class="text-[32px] leading-[36px] md:text-[48px] md:leading-[52px] lg:text-[54px] lg:leading-[1.1] font-medium tracking-[-2%]"
        >
          <span class="text-white block"> Flexible, Embedded Engineers, </span>
          <span class="text-[#FEC343] block">Ready to Plug-In</span>
        </h2>
      </div>
      <div class="pt-12 flex flex-col gap-8">
        {
          data.main.aboutUs.map((p) => (
            <p class="text-[22px] leading-8 text-white">{p}</p>
          ))
        }
      </div>
    </div>
    <div
      class="col-span-6 md:col-span-12 xl:col-span-10 xl:col-start-2 bg-[#3C3843CC] rounded-[48px] mx-4 md:mx-7 py-12 px-4 lg:p-12 flex flex-col items-center overflow-hidden"
    >
      <h2
        class="text-[32px] leading-[36px] md:text-[48px] md:leading-[52px] lg:text-[54px] lg:leading-[1.1] font-medium tracking-[-2%] text-white"
      >
        <span class="text-[#FEC343]">Ideal</span> For Teams Who
      </h2>
      <div class="flex flex-col lg:flex-row gap-7 mt-12">
        {
          data.main.fitChecks.map((c) => (
            <div class="flex flex-col items-center gap-4 grow basis-0">
              <CircleCheck width={48} height={48} stroke="#FEC343" />
              <p class="text-[22px] leading-8 text-white text-center">
                <strong>{c.highlight}</strong>
                <br />
                {c.text}
              </p>
            </div>
          ))
        }
      </div>
      <Image
        src={idealForIllustration}
        alt="Illustration of crocodile and developers collaborating"
        class="w-[calc(100%+32px)] max-w-[715px] relative top-18"
      />
    </div>
  </div>
</Section>
