---
const { imagePath, name, company, role } = Astro.props;
import { Image } from 'astro:assets';
---

<div class="flex gap-3 col-span-2">
  <Image
    alt={name}
    width={72}
    height={72}
    src={imagePath}
    class="h-[72px] w-[72px]"
  />
  <span class="text-xl leading-7">
    <strong>{name}</strong><br />
    <span class="underline">{company}</span>
    {role}
  </span>
</div>
