---
import { Image } from "astro:assets";
const { image, name, company, role } = Astro.props;
---

<div class="flex gap-3 col-span-2">
  <Image
    src={image.default}
    alt={name}
    widths={[72]}
    sizes="72px"
    class="h-[72px] w-[72px]"
  />
  <span class="text-xl leading-7">
    <strong>{name}</strong><br />
    <span class="underline">{company}</span>
    {role}
  </span>
</div>
