---
import { getCollection } from "astro:content";
import Section from "./Section.astro";
import SectionTitle from "./SectionTitle.astro";
import Pill from "./Pill.astro";
import Avatar from "./Avatar.astro";

const testimonialCollections = await getCollection("testimonials");

const testimonials = [];

const images = import.meta.glob("../assets/*.*");

for (const testimonial of testimonialCollections) {
  const src = images[
    `../assets${testimonial.data.imageUrl}`
  ] as any as () => Promise<{
    default: ImageMetadata;
  }>;
  const image = await src();

  testimonials.push({
    content: testimonial.rendered,
    name: testimonial.data.name,
    title: testimonial.data.title,
    image: image,
    company: testimonial.data.company,
  });
}
---

<Section className={`!px-0 !py-24`}>
  <div
    class="px-4 sm:grid sm:px-7 sm:items-center sm:text-center sm:justify-items-center"
  >
    <Pill>Testimonials</Pill>
    <SectionTitle className="pt-4 md:text-[74px] md:leading-[80px]">
      What Our <span class="text-crocoder-green">Clients</span> Say
    </SectionTitle>
  </div>
  <div
    class="px-4 sm:px-7 no-scrollbar flex overflow-x-auto w-full gap-2 pt-12 md:pt-16 lg:pt-24
  xl:flex-wrap xl:justify-between xl:overflow-hidden"
  >
    {
      testimonials.map(({ name, content, title, image, company }) => (
        <article class="flex-1 bg-[#F4F4F4] rounded-2xl p-7 min-w-[318px] md:min-w-[474px] xl:min-w-0 max-h-fit max-w-full [&_p]:leading-7 [&_p]:text-black [&_p]:w-full">
          <p set:html={content?.html} class="text-base leading-[26px]" />
          <div class="pt-7">
            <Avatar
              name={name}
              role={title}
              image={image}
              company={company}
            />
          </div>
        </article>
      ))
    }
  </div>
</Section>
